body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";


// CUSTOM FONTS


@font-face {
    font-family: 'Trench';
    src: url('./fonts/custom/trench.eot'); /* IE9 Compat Modes */
    src: url('./fonts/custom/trench.woff') format('woff'), /* Modern Browsers */
         url('./fonts/custom/trench.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Neoteric';
    src: url('./fonts/custom/Neoteric.eot'); /* IE9 Compat Modes */
    src: url('./fonts/custom/Neoteric.woff') format('woff'), /* Modern Browsers */
         url('./fonts/custom/Neoteric.ttf')  format('truetype'); /* Safari, Android, iOS */
}